<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% include head.html %}

  </head>
  <body>
    <header class="site-header">

      {% include menu-search.html %}
      {% include svg-icons.html %}

      <div class="wrapper">
        <h1>
          <a class="site-title" href="/">Portfolio</a>
        </h1>
        <h2 class="site-subtitle">
          <span class="site-subtitle-quote">"It does not matter how slowly you go as long as you do not stop."</span>
          <span class="site-subtitle-author">"{{ site.subtitle-author}}"</span>
        </h2>
      </div>
     </header>
     <div class="wrapper">
      {{ content }}

      {% include disqus_comments.html %}

     </div>


      {% include footer.html %}

  </body>
</html>
